<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="David De La Puente -Kirgo-">
    <title>Home</title>
</head>
<body>
    <h1>Home - SocNet</h1>
    <p>Bienvenido a la página de inicio de SocNet. Aquí puedes encontrar información sobre nuestra red social.</p>
    <nav>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('signup') }}">Sign Up</a>
    </nav>
</body>
</html>