<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="David De La Puente -Kirgo-">
    <title>Sign Up - SocNet</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div id="container">
        <h1>Sign Up - SocNet</h1>
        <form action="{{ url_for('signup') }}" method="post">
            <label for="nickname">Nickname:</label>
            <input type="text" id="nickname" name="nickname" required><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
            <label for="passwd">Password:</label>
            <input type="password" id="passwd" name="passwd" required><br>
            <label for="confirm">Confirm Password:</label>
            <input type="password" id="confirm" name="confirm" required><br>
            <input type="submit" name="signup_submit" value="Sign Up">
        </form>
    </div>
</body>
</html>